body {

    font-family: 'Kanit', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.img-height{
    height: 75vh;
   object-fit: cover;
}
.img-shadow{

    filter: brightness(50%);
}
.social-icon {
    color: white;
    padding: 10px;
}