body {

    font-family: 'Kanit', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.social-icon {
    color: white;
    padding: 10px;
}